
body{
    background: url(/microsite/initial-build/pic/sapce.jpeg) no-repeat;
    height: 100%;
    background-size: cover;
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer{
    padding: 10px 0;
    text-align: center;
}

