
p { 
    color: #aa1d1f; 
    padding: 5px;
    padding-bottom: 10px;
    font: italic small-caps bold 18px/2 cursive;
  }

  .header{
    background: url(fb00da1e3130d5bbf383fb585d362d4f.1000x1000x1.png) no-repeat top center fixed;
    background-size: cover;
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 } 

.text-container{
    width:auto;
    height:400px;
    position:sticky;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    top:0;
    bottom:0;
    overflow-y:auto;
    overflow-x:hidden;
}